audioread==3.0.0
cog==0.6.1
h5py==2.10.0
librosa==0.6.0
matplotlib==3.0.3
mido==1.2.9
mir_eval==0.5
numpy==1.21.6
piano_transcription_inference==0.0.5
pretty_midi==0.2.9
pydub==0.25.1
scikit_learn==1.2.1
scipy==1.7.3
sox==1.4.0
SQLAlchemy==1.4.46
synthviz==0.0.2
torch==1.4.0+cu92
torchlibrosa==0.0.4
